@model Helpdesk.Models.ResetPasswordViewModel
@{ Layout = null; }
@{ ViewBag.Title = "Zmiana hasła"; }
<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0" />

<link href="~/Content/css/styles.css" rel="stylesheet" />
<link href="~/Content/css/remixicon.css" rel="stylesheet" />
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/Content/bootstrap")
@Scripts.Render("~/bundles/ckeditor")
@Styles.Render("~/Content/datepicker")
@Scripts.Render("~/bundles/datePicker")

<div class="container-fluid body-content ">
    <div class="jumbotron vertical-center">
        <div class="row">
            <div class="col-md-offset-2 col-md-12">
                <section id="loginForm align-self-center">
                    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                <section class="vh-100">
                    <div class="container-fluid h-custom">
                        <div class="row d-flex justify-content-center align-items-center h-100">

                            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                                @Html.AntiForgeryToken()
                                <h4>Zresetuj hasło.</h4>
                                <hr />
                                @Html.ValidationSummary("", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.Code)
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Email, "Potwierdź swój adres e-mail:", new { @class = "col-md-12 control-label" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Password, "Wprowadź nowe hasło:", new { @class = "col-md-12 control-label" })
                                    <div class="col-md-10">
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.ConfirmPassword, "Potwierdź hasło:", new { @class = "col-md-12 control-label" })
                                    <div class="col-md-10">
                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10 " style="padding-top:10px;">
                                        <input type="submit" class="btn btn-primary" value="Reset" />
                                        <div class="btn btn-success" style="color:white;">
                                            @Html.ActionLink("Powrót do logowania", "Index", "Home", new { area = "" }, new { @class = "sidebar-header" })
                                        </div>
                                        <style>
                                            a {
                                                color: white;
                                                text-decoration: none;
                                            }
                                        </style>
                                        </div>

                                    </div>


                                    </div>
                            </div>
                        </div>

                    </section>}

                </section>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
