@model Helpdesk.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Zmiana hasła";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Wpisz stare oraz nowe hasło i potwierdź przyciskiem, w celu zmiany hasła.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.OldPassword,"Stare hasło:", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control col-md-2" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword,"Nowe hasło:", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control col-md-2" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword,"Potwierdź nowe hasło:", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control col-md-2" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Zmień hasło" class="btn btn-default" />
            <button class="btn"><a href='javascript:history.go(-1)'>Powrót</a></button>
        </div>
    </div>
    
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}