@model IEnumerable<Helpdesk.Models.Status>

@{ ViewBag.Title = "Index"; }

@if (TempData["Potwierdzenie"] != null)
{
<div class="alert alert-info" role="alert">
    @TempData["Potwierdzenie"]
</div>}
<div class="container">
    <h2 class="headerInfo">Statusy</h2><hr />
    @*<div class="btn btnNewApplication">
        <i class="fas fa-plus"></i>
        @Html.ActionLink("Utwórz nowy status", "Create")
    </div><br /><br />*@
    <table class="table col-auto table-hover">
        <tr>
            <th class="tableFilters">
                @Html.DisplayNameFor(model => model.NazwaStatusu)
            </th>


        </tr>

        @foreach (var item in Model)
        {
<tr>
    <td class="applicationList">
        @Html.DisplayFor(modelItem => item.NazwaStatusu)
    </td>

    <td width="10%" class="applicationList">
        <div class="btn btnDetails">@Html.ActionLink("Szczegóły", "Details", new { id = item.IdStatusu })</div>
        <div class="btn btnEdit">@Html.ActionLink("Edycja", "Edit", new { id = item.IdStatusu })</div>
        @*<div class="btn btnDelete">@Html.ActionLink("Usuń", "Delete", new { id = item.IdStatusu })</div>*@
    </td>
</tr>            }

    </table>
</div>

